.box {
  font-family: 'Lato', sans-serif;
  mix-blend-mode: color-burn;
  color: #696969;
  opacity: 0.9;
  background-color: #fabc83;

  padding: 50px;
  margin: 20px;
  transition: background 0.5s ease-in-out, 
  transform 0.5s ease;
}

.projectGrid {
  margin: 40px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}

.box:hover,
.box:focus {
  background: #e6e6a7;
}

img {
  width: 100px;
  height: auto;
  margin: 50px 50px;
  cursor: pointer;
}

.project-title {
  font-size: 50px;
  font-weight: 700;
  margn-top: 30px;
}

.project-content {
  font-size: 25px;
  margin: 30px;
}

a {
  /* text-decoration: underline; */
  font-size: 25px;
  color: #6458abc1;
  margin: 10px;
  margin-bottom: 30px

}

.icons {
  margin-top: 20px;
  font-size: 40px;
}