.hello {
  font-size: 100px;
  line-height: 150px;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  mix-blend-mode: color-burn;
  position: relative;
  opacity: 0.9;
  color: rgb(105, 105, 105);
}


.letter {
  font-size: 200px;
  line-height: 110px;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  letter-spacing: -25px;
  mix-blend-mode: color-burn;
  position: relative;
  opacity: 0.9;
  cursor: default;
}

p {
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  mix-blend-mode: color-burn;
  position: relative;
  transition: top ease 0.1s;
  transition-delay: 2s;
  opacity: 0.9;
  color: #696969;
  cursor: default;
}

::selection {
background: #69696980;
}
